<h1>Thêm mới sản phẩm</h1>
<form [formGroup]="productCreateForm" (ngSubmit)="submit()">
    <label for="name">Tên:</label>
    <input type="text" id="name" formControlName="name" />
    @if(fCOntrol["name"].touched && fCOntrol["name"].hasError("required")) {
        <p>Vui lòng nhập tên</p>
    }
    <label for="price">Giá tiền:</label>
    <input type="text" id="price" formControlName="price" />

    <label>Danh mục:</label>
    <!-- <input type="text" id="name" formControlName="name" /> -->
    <select>
        <option value="" disabled>Chọn danh mục</option>
        @for( item of categories; track $index){
        <option [ngValue]="item">{{item.name}}</option>
        }
    </select>
    <input type="submit" value="Thêm mới" [disabled]="!productCreateForm.valid" />
</form>