<p>product works!</p>
<h2>Table examle 1</h2>
<button class="btn btn-secondary" routerLink="/create-product">Thêm mới</button>
<table class="table table-hover">
    <thead>
    <tr>
      <th>STT</th>
      <th>Tên</th>
      <th>Giá</th>
      <th>Danh mục</th>
    </tr>
</thead>
<div *ngIf="1===1;then content else other_content">here is ignored</div>
<tbody >
    <tr *ngFor="let product of products; index as i" >
      <td>{{i + 1}}</td>
      <td>{{product?.name}}</td>
      <td>{{product?.price}}</td>
      <td>{{product?.category?.name}}</td>
    </tr>
</tbody>
  </table>

  <h2>Table examle 2</h2>
  <button class="btn btn-primary" routerLink="/create-product">Thêm mới</button>
<table class="table table-hover">

    <thead>
    <tr>
      <th>STT</th>
      <th>Tên</th>
      <th>Giá</th>
      <th>Danh mục</th>
    </tr>
</thead>
<tbody>
    @for( product of products; track $index){
        <tr>
            <td>{{$index + 1}}</td>
            <td>{{product?.name}}</td>
            <td>{{product?.price}}</td>
            <td>{{product?.category?.name}}</td>
          </tr>
    }
    
</tbody>
  </table>