/*---------- base css ----------*/
body {
  font-family: $font-muli;
  font-size: $font-size-xs;
  line-height: 1;
  overflow: auto;
  background: #f4f4f4;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $font-muli;
}
a {
  color: $color-link;
  text-decoration: none;
}
a:focus {
  outline: none;
}

@media (min-width: $screen-lg-min) {
  //ipad lanscape & pc 1024x768px
}

/*---------- end base css ----------*/
